<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<h1>   
		   
		    
		</h1>
		<input type="image" id="Logo" align="left">
		<p align="right">
			<button type="button" onclick="alert('need to redirect to a sign in page')" id="sign in" align="right">
				Sign In
			</button>
		</p>
<!--		<p align="center">-->
<!--			<input type="text" id="Central text box" align="center">-->
<!--			-->
<!--		</p>-->
<!--		<div class="box">-->
<!--			<input type="search" id="Central search box" placeholder="search" />-->
<!--			-->
<!--			-->
<!--		</div>-->
		<p>
			<style>
				p
				{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%); 
					font-size: 40px;
					white-space: nowrap;
				}
			</style>
			
		</p>
	</body>
</html>